@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&family=Macondo&display=swap');

*{
    font-family: 'Macondo', cursive, sans-serif;
    padding: 0;
    font-size: 17px;
    margin: 0;
    box-sizing: content-box;
}
.background{
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left:  8%;
    padding-right: 8%;
}
nav h2{
    color: white;
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 2px;
}
nav h2:hover{
    transform: scale(1.1);
    transition: .4s;
}
nav h2 span{
    color: #f9004d;
    font-size: 1.1em;
}
nav ul li a{
    color: white;
    font-size: 1.1em;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;    
}
nav ul li{
    /* background-color: red; */
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    list-style-type: none;
    
}
nav li:hover{
    transform: scale(1.1);
    transition: .4s;
}
nav ul li a:hover{
    color: #f9004d;
    transform: scale(1.1);
    transition: .4s;
    
}
.subscribe-button{
    background-color: #f9004d;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    /* transition: transform(0.4); */

}
.subscribe-button:hover{
    transform: scale(1.1);
    transition: .4s;
}
.presentation{
    /* background-color: red; */
    position: absolute;
    width: 500px;
    color: white;
    padding: 0px 45px;
    padding-left: 8%;
    top: 50%;
}
.presentation h2{
    font-size: 40px;
    padding: 10px 0;
    
}
.presentation h2 span{
    color: #f9004d;
    font-size: 40px;

}
.presentation h4{
    font-size: 25px;
    padding-bottom: 25px;
}
.container-btn form{
    position: relative;
    width: 330px;
    max-width: 100%;

}
.container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 100px 14px 15px ;
    border-radius: 30px;
    outline: none;
   
}
.container-btn form input:last-child{
    background-color: #f9004d;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 30px;
    border: none;
    color: white;
    position: absolute;
    top:6px;
    right: -113px;
}
.main{
    /* background-color: red; */
    display:  flex;
    color: white;
    padding-top: 30px;
    padding-left: 8%;
    background-color: rgb(12, 11, 11);
    align-content: center;
    justify-content: space-around;

}
.main img{
    padding: 15px;
    /* padding-bottom: 30px; */
    border-radius: 50px;
    width: 430px;
    height: auto;
}
.main-text{
    /* position: absolute;  */
    padding-left: 30px;
    padding-top: 140px;
    width: 550px; 
    /* padding-right: 15px; */
    height: auto; 
}
.main-text h2{
    /* background-color: red; */
    font-size: 50px;
}
.main-text h5{
    font-size: 30px;
    padding: 30px 0;
}
.main-text span{
    color: #f9004d;
}
.main-text p{
    display: block;
    letter-spacing: 1px;
    padding-bottom: 25px;
    line-height: 1.6;
    font-size: 1.2em;

    
    
}
button{
    background-color: #f9004d;
    margin-top: 30px;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
}
button:hover{
    background-color: black;
    /* color: black;; */
    cursor: pointer;
    border: 2px solid #f9004d;
    transform: scale(1.1);
    transition: .4s;

}
.Nossos-servicos{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between;   */
    padding-left: 8%;
    /* padding-top: 20px; */

}

.title-part2{
    background-color: rgb(168, 209, 18);
    width: 100%;
    height: 200px;
    /* position: relative; */
    color: white;
}
.title-part2 h2{
    /* background-color: rgb(17, 14, 158); */
    font-size: 65px;
    /* width: 1130px; */
    /* margin: 30px auto; */
    text-align: center ;
    /* margin-left: auto;
    margin-right: auto;
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); */

}
.first {
    background-color: black;
    margin: 30px;
    /* width: auto; */
    border-radius: 15px;
    padding: 10px; 
    position: relative;
}
.Nossos-servicos img{
    height: 48px;
    width: 48px;
    margin-left: 100px;
}

.Nossos-servicos h4{
    font-size: 1.2em;
    /* background-color: yellow; */
    padding:  5px;
    margin-left: 45px;
}
.Nossos-servicos p{
    display: block;
    font-size: 1.1em;
    justify-content: center;
    width: auto;
}
 .Nossos-servicos a{
    text-decoration: none;
    color: white;
    background-color: #f9004d;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px;
 }
